<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet", href="client/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/normalize.min.css")
    link(rel="stylesheet", href="assets/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    title InterChat
  body(ng-app="app", ng-controller="chatRoom as vm")
    .rooms
      h1 Комнаты
      ul.room-list
        li.room(ng-class="{selected:vm.roomId == 'main'}", ng-click="vm.openRoom({id:'main'})")
          a(href="javascript:void(0)") Общая
        li.room(ng-class="{selected:vm.roomId == room.id}", ng-repeat="room in vm.rooms", ng-click="vm.openRoom(room)" )
          a(href="javascript:void(0)", ng-bind-html="room.title")
        li.room(ng-class="{selected:vm.showRoomForm}",ng-click="vm.showRoomForm = true")
          a(href="javascript:void(0)") Добавить

    .room-header
      h1(ng-bind-html="vm.room.title") 
      
    .message-box(ng-hide="vm.showRoomForm")
      .input
        textarea(placeholder="Введите сообщение", ng-model="vm.message")
      a(href="#", ng-click="vm.sendMessage()").button.noselect Отправить

    .chat#chat
      .chat-wrap
        .message(ng-repeat="msg in vm.chat") 
          .ava
            img(ng-src="{{msg.author.imgUrl}}", alt="")
          .name-and-text
            .name
              a.name(href="",ng-bind-html="msg.author.lastName + ' ' + msg.author.firstName")
            p.text(ng-bind-html="msg.text")
          .date {{msg.timestamp | date:'dd.MM.yy HH:mm'}}

    .room-form(ng-show="vm.showRoomForm")
      .title
        input(type="text", ng-model="vm.newRoomTitle", placeholder="Введите название")
      .friends
        .h2 Выберите друзей для общения в комнате
        .friend(ng-repeat="friend in vm.friends")
          input(type="checkbox", ng-model="friend.inRoom", id="{{friend.uid}}")
          label.name(for="{{friend.uid}}", ng-bind-html="friend.first_name + ' ' + friend.last_name")
          br
    .actions(ng-show="vm.showRoomForm")
       a.save(href="javascript:void(0)", ng-click="vm.createRoom()").button.noselect Сохранить
       a(href="javascript:void(0)", ng-click="vm.showRoomForm = false").button.noselect Отмена

    .overlay(ng-show="vm.isLoading")
      .loading
        span(us-spinner="{color:'#fff'}")
    
    //- script(src="client/bower_components/jquery/dist/jquery.min.js")
    script(src="https://vk.com/js/api/xd_connection.js?2")
    script(src='/socket.io/socket.io.js')
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="bower_components/spin.js/spin.js")
    script(src="bower_components/angular-spinner/angular-spinner.min.js")
    script(src='assets/scripts.js')
    script(src='assets/services.js')
    script.
      VK.init(function(){
          app.run(function(){});
          console.log('api initialized')
        },function(){
            app.run(function(){});
          }
        );