body,html, button, input, select, textarea
  font-family: 'Open Sans', sans-serif;

html, body, .container-fluid, .row, .col-xs-1,.col-xs-11, .rooms, .room-members
  height 100%
div
  box-sizing border-box
a
  text-decoration none
.row.header
  height 50px

h1
  font-size 12px
  margin 0
  color #65737E 

.rooms
  width 120px
  position fixed
  left 0
  background-color #232830

  h1
    color #4F5B66
    font-size 12px
    margin 10px 0 0 7px

  .room-list
    list-style none
    padding 0px 0 0 0
    margin 0

    .room
      padding 3px 15px
      a
        color #65737E
        font-size 14px
      &.selected
        background #2B303B
      &:hover
        background #2B303B
        cursor pointer
        a
          color #C0C5CE
          text-decoration none

.room-header
  position fixed
  top 0
  left 120px
  width 100%
  height 30px
  background-color #1C1F26
  display none
  h1
    margin 8px auto
    width 200px
    text-transform uppercase

.message-box, .actions
  position fixed
  bottom 0
  left 120px
  width 100%
  height 50px
  background-color #1C1F26
  z-index 10
  .input,.button
    float left
    display inline-block
  .input
    width 60%
    textarea
      width 100%
      background-color #1C1F26
      outline none
      border none
      color #C0C5CE
      padding 8px
      font-size 12px
      resize none
  .button
    width 21%
    height 100%
    color #8DB5B4
    font-size 14px
    padding 15px 25px
    border-left 1px solid #8db5b4
    outline none
    &:hover
      background-color #343D46

.noselect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.chat,.room-form
  position fixed
  top 0
  margin 0 0 0 120px 
  background-color #2B303B
  height 467px
  overflow auto
  min-width 487px

.room-form
  padding-bottom 30px
  .title
    width 220px
    margin 0 auto  
    input
      background #2B303B
      border none
      outline none
      height 30px
      border-bottom 1px solid #8DB5B4
      text-align center
      color #fff

  .friends
    color #C0C5CE
    margin 20px 0 0 30px
    .friend
      .name
        display inline-block
        margin-left 5px

  .actions
    z-index 100 
    .save
      width 44%
      border-left none
.overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background #2B303B
  z-index 100000
  .loading
    position absolute
    width 50px
    height 50px
    top 50%
    left 50%
    margin -25px 0 0 -25px
.message
  color #C0C5CE
  display inline-block
  width 100%
  padding 5px
  font-size 12px
  .ava,.name-and-text,.date
    float left
    display inline-block
  .ava
    width 60px
    height 70px
    padding 5px 0 0 2px
  .name-and-text
    width 65%
    padding-right 10px
    .name
      color #C97050
    .text
      margin 5px 0
  .date
    width 85px
    color #A3BE8C
