<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/normalize.min.css"/>
    <link rel="stylesheet" href="assets/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"/>
    <title>InterChat</title>
  </head>
  <body ng-app="app" ng-controller="chatRoom as vm">
    <div class="rooms">
      <h1>Комнаты</h1>
      <ul class="room-list">
        <li ng-class="{selected:vm.roomId == 'main'}" ng-click="vm.openRoom({id:'main'})" class="room"><a href="javascript:void(0)">Общая</a></li>
        <li ng-class="{selected:vm.roomId == room.id}" ng-repeat="room in vm.rooms" ng-click="vm.openRoom(room)" class="room"><a href="javascript:void(0)" ng-bind-html="room.title"></a></li>
        <li ng-click="vm.showRoomForm = true" class="room"><a href="javascript:void(0)">Добавить</a></li>
      </ul>
    </div>
    <div class="room-header">
      <h1 ng-bind-html="vm.room.title"> </h1>
    </div>
    <div ng-hide="vm.showRoomForm" class="message-box">
      <div class="input">
        <textarea placeholder="Введите сообщение" ng-model="vm.message"></textarea>
      </div><a href="#" ng-click="vm.sendMessage()" class="button noselect">Отправить</a>
    </div>
    <div id="chat" class="chat">
      <div class="chat-wrap">
        <div ng-repeat="msg in vm.chat" class="message"> 
          <div class="ava"><img ng-src="{{msg.author.imgUrl}}" alt=""/></div>
          <div class="name-and-text">
            <div class="name"><a href="" ng-bind-html="msg.author.lastName + ' ' + msg.author.firstName" class="name"></a></div>
            <p ng-bind-html="msg.text" class="text"></p>
          </div>
          <div class="date">{{msg.timestamp | date:'dd.MM.yy HH:mm'}}</div>
        </div>
      </div>
    </div>
    <div ng-show="vm.showRoomForm" class="room-form">
      <div class="title">
        <input type="text" ng-model="vm.newRoomTitle" placeholder="Введите название"/>
      </div>
      <div class="friends">
        <div class="h2">Выберите друзей для общения в комнате</div>
        <div ng-repeat="friend in vm.friends" class="friend">
          <input type="checkbox" ng-model="friend.inRoom" id="{{friend.uid}}"/>
          <label for="{{friend.uid}}" ng-bind-html="friend.first_name + ' ' + friend.last_name" class="name"></label><br/>
        </div>
      </div>
    </div>
    <div ng-show="vm.showRoomForm" class="actions"><a href="javascript:void(0)" ng-click="vm.createRoom()" class="save button noselect">Сохранить</a><a href="javascript:void(0)" ng-click="vm.showRoomForm = false" class="button noselect">Отмена</a></div>
    <div ng-show="vm.isLoading" class="overlay">
      <div class="loading"><span us-spinner="{color:'#fff'}"></span></div>
    </div>
    <script src="https://vk.com/js/api/xd_connection.js?2"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="assets/services.js"></script>
    <script>
      VK.init(function(){
          app.run(function(){});
          console.log('api initialized')
        },function(){
            app.run(function(){});
          }
        );
    </script>
  </body>
</html>