<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet", href="client/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/normalize.min.css")
    link(rel="stylesheet", href="assets/styles.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700")
    title InterChat
  body(ng-app="app", ng-controller="chatRoom as vm")
    .rooms
      h1 Комнаты
      ul.room-list
        li.room
          a(href="") Общая
        li.room
          a(href="") Зал
        li.room
          a(href="") Кухня
        li.room
          a(href="") Коридор
        li.room
          a(href="") Спальня
        li.room
          a(href="") Добавить

    .room-header
      h1(ng-bind-html="vm.room.title") 
    .message-box
      .input
        textarea(placeholder="Введите сообщение")
      a(href="#").button Отправить
    .chat
      
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Lorem ipsum.
          p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptates temporibus porro deserunt id quibusdam cum fugiat rerum cumque ut.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Veritatis, similique.
          p.text Accusamus repellat fugit sunt modi harum, asperiores, temporibus facilis non. Dolore hic necessitatibus, minus, ratione voluptatem corrupti autem nesciunt fugiat.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Quidem, necessitatibus.
          p.text Obcaecati sunt perspiciatis repellendus iste cum architecto repudiandae quisquam voluptate illo. Obcaecati rerum facilis, ipsam aspernatur quae consectetur fuga eaque!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Consequatur, reprehenderit!
          p.text Tempora minus non nulla explicabo perspiciatis voluptate voluptatum commodi praesentium sapiente temporibus? Quam optio odio voluptatibus repudiandae, saepe pariatur est!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Laborum, doloremque?
          p.text Numquam ullam fugiat vel! Impedit obcaecati quae ad fuga quos quibusdam autem quam deleniti nemo aspernatur? Neque quae, commodi accusamus!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Alias, necessitatibus!
          p.text Eligendi iusto pariatur, doloribus numquam magnam soluta, natus harum id molestiae incidunt totam! Cum animi, sit blanditiis distinctio minus ullam.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Mollitia, odio.
          p.text Veniam ratione rem minima alias ducimus, accusamus dolores eum maiores temporibus laboriosam veritatis corporis cupiditate. Quae voluptatem officiis numquam libero.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Eius, quasi!
          p.text Beatae a tempora ad dolore, labore officiis eum natus. Ipsa porro, quasi quae facere quidem quia excepturi dicta fugiat facilis!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Dolore, ipsa?
          p.text Omnis iure tenetur maxime repellat sed! Velit, earum facilis animi excepturi quae dolores officia deserunt porro dolor praesentium consequatur voluptatem.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Porro, eveniet.
          p.text Suscipit, porro dolore neque minima quos qui beatae doloribus corporis, quisquam? Perferendis perspiciatis est magnam laboriosam reprehenderit praesentium quas, pariatur?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Eaque, rerum!
          p.text Id perspiciatis, ad alias odit, dignissimos minus deserunt rem consequuntur deleniti eos aspernatur repellat ducimus cumque, neque, delectus minima quaerat.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Illo, dolores.
          p.text Cupiditate rerum nemo in eligendi, illum magni officiis nihil. Impedit, aliquid incidunt omnis, ab mollitia dolorum laborum minus vel repellendus.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Ut, perspiciatis.
          p.text Vitae quibusdam, amet ad sint commodi quasi, maiores culpa placeat! Quia expedita iste, voluptatem. Non molestiae veniam excepturi aperiam deleniti.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Vel, nulla!
          p.text Ratione nihil expedita cupiditate. In consequatur et ducimus veritatis hic ex ratione, explicabo ut suscipit sint consequuntur, non laboriosam, eos!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Sit, perspiciatis.
          p.text Quod nisi animi laboriosam velit sapiente, numquam veniam earum eos, a ipsum porro excepturi, at amet dolor necessitatibus, quibusdam quas?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Cupiditate, ullam.
          p.text Quasi, ut hic nemo beatae tempora odio illo explicabo sunt, dolorum esse earum. Facere, cumque dolores. Nihil perspiciatis sunt earum?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Non, suscipit!
          p.text Deleniti, quasi necessitatibus dolores consequatur? Modi dignissimos magnam ipsum quibusdam rem, ex, ea ipsa. Corrupti reprehenderit optio nisi iure, vitae.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Sunt, voluptatem!
          p.text Animi atque autem minus nobis sed voluptatum debitis consequuntur error! Assumenda, reiciendis dolores quasi voluptate! Delectus debitis id corporis sunt?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Autem, laudantium!
          p.text Fugiat reiciendis dolor laudantium tenetur pariatur. Quaerat ad quia tempore in quidem, odit porro, officia, aliquam veniam explicabo vero, eveniet!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Illum, dolores.
          p.text Blanditiis id quas aliquam pariatur officiis, mollitia amet doloremque ipsa, sapiente accusamus et veniam! Incidunt accusamus corrupti iure exercitationem molestias?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Lorem ipsum.
          p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nisi, asperiores soluta magni vero. Aut sit ducimus, est at eveniet iste pariatur modi ratione omnis impedit animi, repudiandae non? Dicta modi nam natus ea officiis laborum nisi suscipit aut consequuntur dolorum, excepturi, impedit veritatis recusandae magni, cumque vitae aspernatur omnis?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Aliquam, ullam?
          p.text Voluptas doloribus deserunt sapiente, tempora consectetur magni, corporis ex ad dignissimos similique hic, at vero quo cumque earum laboriosam sequi? Odit ea temporibus ducimus molestias quo natus maiores est sequi eaque odio quisquam, atque, architecto dignissimos quod quas. Consequuntur reprehenderit nostrum, laboriosam necessitatibus voluptatem reiciendis repellat numquam impedit dignissimos sunt.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Magnam, ipsum!
          p.text Quia, quos, qui! Omnis ab tempora sed porro optio, esse quasi culpa nobis non perferendis autem dolore hic natus ad reprehenderit? Quo ipsam esse sit culpa, porro, cumque velit, sequi atque quam ducimus in. Dignissimos ducimus at sit, perferendis, obcaecati commodi aspernatur laudantium inventore fuga placeat vero consequatur, velit odit.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Consequatur, maiores!
          p.text Sit incidunt optio voluptas dolorem, tenetur facilis maxime similique provident quasi aperiam culpa, voluptatem libero ut aliquam. Commodi saepe optio, ut voluptates laborum dignissimos asperiores modi at non, assumenda sapiente, ullam. Eveniet ipsam nesciunt eaque, ducimus recusandae totam eligendi, architecto soluta voluptatibus a consequuntur iusto libero nostrum laborum, provident ex.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Ea, iste.
          p.text Saepe cupiditate unde, veritatis odio vel autem a nulla. Facere vitae reiciendis non quos, at accusantium molestiae error adipisci eligendi earum, unde commodi voluptatibus harum perspiciatis cum fugiat, dolorum repellendus, recusandae doloribus. Omnis sed recusandae commodi, iusto, harum officia. Harum debitis porro deleniti eaque nesciunt officia tenetur laboriosam atque est.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Consequatur, libero.
          p.text Alias odio suscipit at aspernatur tempora fugiat neque cupiditate. Quae, optio facilis, odit aspernatur minima eveniet ex vero voluptate sapiente. Autem reiciendis facilis nam id. Ipsum architecto vitae provident, possimus atque, enim cum nobis obcaecati amet, asperiores culpa. Recusandae perferendis omnis, animi quia porro assumenda? Nobis quo eos et necessitatibus.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Quidem, odit.
          p.text A vitae sapiente quae sequi similique veniam fugit. Blanditiis in adipisci temporibus quo repudiandae impedit officiis hic ratione deleniti iure inventore saepe dolorem ab consequuntur, eveniet, quam distinctio. Vel velit adipisci dolor, quisquam itaque necessitatibus rem, nesciunt delectus veritatis quas cum, ut aut dolore consectetur. Consectetur natus similique inventore suscipit.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Corrupti, quidem.
          p.text Nemo esse repellendus alias, nisi ipsa impedit a quod officiis reiciendis neque excepturi similique maxime libero, amet in dolorum quaerat quia cupiditate magni at veritatis. Cum quasi, quos quod sed provident, inventore doloremque id ratione in nostrum alias vero at quia, voluptatum iste quas cupiditate nesciunt voluptatem omnis velit! Natus.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Laboriosam, asperiores?
          p.text Animi perferendis earum suscipit mollitia natus numquam dolores corrupti officiis harum dolor, molestias voluptatibus ipsum eos, accusamus qui impedit provident tenetur quia minus ex maxime possimus, eaque. Aut atque rerum perferendis excepturi enim recusandae placeat dignissimos et velit iure magni, iusto. Officia placeat ducimus distinctio qui nostrum hic, blanditiis adipisci?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Delectus, eaque.
          p.text Blanditiis, doloremque totam facere soluta in culpa dolorum dolor beatae! Minima iure asperiores non rem quasi excepturi, illo vero voluptatem aspernatur magnam, voluptatibus eligendi sunt magni ipsam deleniti. Minima aspernatur consequuntur ex fuga mollitia perferendis explicabo voluptatem at quae, a deleniti minus odio, modi impedit! Cupiditate quos accusantium, praesentium fugiat?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Quasi, minus.
          p.text Nam vitae rerum, eveniet ipsum tenetur vero dicta dignissimos dolorum quas pariatur ducimus, beatae quae neque fuga expedita accusamus unde minima illum consequuntur iusto voluptatum architecto iure veritatis saepe labore. Veniam, similique. Ut nulla ducimus numquam pariatur voluptatibus officia id, vero quasi. Maxime facere consectetur temporibus molestiae praesentium cupiditate ut!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Quas, natus.
          p.text Consectetur totam dolore iusto mollitia, odit, hic inventore rem ipsam aut, nulla quaerat odio ratione vero harum cumque architecto quo voluptate. Accusantium quas, corrupti itaque ad, asperiores facilis laudantium incidunt velit molestias perspiciatis, omnis molestiae earum blanditiis harum! Quaerat aperiam maiores libero consequuntur, earum provident aut ab in vero cumque!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Adipisci, asperiores!
          p.text Reprehenderit repellat cumque quo ab deserunt, mollitia quia voluptate voluptatum atque optio incidunt ipsum nostrum delectus ad dignissimos soluta quae officiis quisquam, laborum fugiat eius fugit. Reiciendis dolore adipisci, doloribus, tempore distinctio voluptate delectus reprehenderit, repellendus saepe dignissimos modi laborum unde qui. Unde aperiam, illo asperiores alias omnis fuga vel.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Culpa, facere.
          p.text Voluptate minima impedit labore quo expedita, aspernatur molestiae, illo assumenda at corporis fuga commodi magnam, amet ex, vero officia ipsa dolor architecto asperiores. Consectetur quidem perspiciatis voluptate totam libero eveniet, quod adipisci quibusdam repudiandae tempora, expedita maxime distinctio nam error aperiam quam numquam laudantium, voluptates ducimus quas veniam cum ea.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Inventore, tenetur!
          p.text Alias odit atque itaque dolorum, error temporibus quos ut sed architecto similique, ullam ipsam, debitis explicabo quod corrupti tenetur eum ipsum non. Quasi ab libero, modi cumque autem, veritatis esse culpa nulla dolore ipsa id quae aut voluptas reprehenderit nam praesentium non rerum, vero maxime quis placeat. Minus, quidem, mollitia?
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Delectus, placeat.
          p.text Beatae qui dolorum culpa, reiciendis veniam natus accusantium velit earum soluta cupiditate voluptate ullam consequatur et nemo quaerat voluptatibus. Deserunt id similique temporibus amet? Reiciendis voluptate velit qui in possimus fugiat non nostrum rem aliquam numquam ullam sint architecto similique, dolorem, totam corporis repudiandae beatae hic aut dolore. Iure, consequuntur!
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Ea, explicabo.
          p.text Eius placeat magnam aliquam dolorem eos ullam iure enim necessitatibus molestias. Magnam, provident ipsa velit? Dolores cumque blanditiis eligendi autem. Temporibus ratione ad quos nostrum repellendus doloribus dolorem nisi impedit sed. Quae repudiandae harum quia suscipit, nostrum, aperiam cupiditate nesciunt nobis assumenda, culpa modi, doloribus aliquid consequatur magnam vero aspernatur.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Repudiandae, qui?
          p.text Dolor maiores inventore dolorem cum necessitatibus officia laboriosam tenetur assumenda molestiae cumque velit sequi error cupiditate reprehenderit, minima recusandae nemo alias beatae. Soluta quia, quidem voluptatum impedit, nobis, ea mollitia unde ullam quae molestias quaerat. Esse veniam autem in accusamus corporis sint, cumque saepe dolorem dolores, nulla eos, ipsum. Velit.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Dicta, consequatur.
          p.text Delectus doloremque culpa facere voluptates beatae temporibus cupiditate neque maxime nemo maiores, eveniet, commodi architecto sint quia at cum earum. Quas incidunt sed facilis ut, soluta voluptatum. Repudiandae atque doloremque, ut. Vitae adipisci, similique! Ad ut eum accusantium. Quas similique reprehenderit quaerat, minima inventore, nihil eligendi autem est at ducimus.
        .date 16.12.2014
      .message
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Est, maxime.
          p.text Earum sapiente nemo rerum perspiciatis quas quod sint possimus quae, accusamus a deserunt incidunt, cumque cupiditate harum nam architecto molestiae distinctio laborum provident nihil inventore. Ullam eligendi non at placeat adipisci soluta optio dolor consectetur? Eaque reprehenderit nulla omnis ad delectus esse illum dignissimos quos, quo rem inventore dicta saepe.
        .date 16.12.2014

      .message 
        .ava
          img(src="https://pp.vk.me/c416831/v416831144/86fe/iS1kFAazifc.jpg", alt="")
        .name-and-text
          .name
            a.name(href="") Ильясов Зульфат
          p.text Culpa facere, alias autem corporis nisi dolore, pariatur aliquam eveniet ullam in magni sunt aut odio voluptatem praesentium delectus nesciunt.
        .date 16.12.2014

    
    //- script(src="client/bower_components/jquery/dist/jquery.min.js")
    //- script(src="client/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="http://vk.com/js/api/xd_connection.js?2")
    script.
      VK.init(function(){
        VK.api('video.get',{videos: '-4363_136089719,13245770_137352259'},function(data) { 
          if (data.response) { 
            consolel.log(data.response)
          // data.response is object 
          } 
        }); 
        console.log('api initialized')
        });
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src='assets/scripts.js')
